       
    * {
        box-sizing: border-box;
    }
    body {
        background: url(../img/12_col.gif) center top repeat-y;
        background-size: 90%;
    }
    
    [class*="item-"] {
        border: 1px solid #333;
        min-height: 130px;

    }
/*.item-7, .item-8, .item-9, .item-10{  
         padding: 10px;
         border: 1px solid #333;
           
    } */    
          .item-1 {grid-column: 1 / 13; grid-row: 1;}
          .item-2 { grid-column: 1 / 3; grid-row: 2;}
          .item-3 { grid-column: 3 / span 8; grid-row: 2;}
          .item-4 { grid-column: 11 / span 2; grid-row: 2;}
          .item-5 { grid-column:  1 / span 9; grid-row: 3;}
          .item-6 { grid-column: 10 / span 3; grid-row: 3;}
          .item-7 { grid-column: 1 / span 3; grid-row: 4;}
          .item-8 { grid-column: 4 / span 3; grid-row: 4;}
          .item-9 { grid-column: 7 / span 3; grid-row: 4;}
          .item-10 { grid-column: 10 / span 3; grid-row: 4;}


    /*Breda desktopskärmar*/
    #container {
        width: 90%;
        display: grid;
        margin: 20px auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        column-gap: 1%;
        row-gap: 10px;
        background-color: rgba(31, 28, 209, 0.5);
       
    }
         
       /* Mindre desktopskärmar*/
    
    @media screen and (max-width: 1200px) { 
         #container { 
          
             background-color: rgba(197, 21, 21, 0.733);  
    }   
           .item-1 {grid-column: 1 / 13; grid-row: 1;}
           .item-2 { grid-column: 1 / 4; grid-row: 2;}
           .item-3 { grid-column: 4 / span 6; grid-row: 2;}
           .item-4 { grid-column: 10 / span 3; grid-row: 2;}
           .item-5 { grid-column:  1 / span 8; grid-row: 3;}
           .item-6 { grid-column: 9 / span 4; grid-row: 3;}
           .item-7 { grid-column: 1 / span 3; grid-row: 4;}
           .item-8 { grid-column: 4 / span 3; grid-row: 4;}
           .item-9 { grid-column: 7 / span 3; grid-row: 4;}
           .item-10 { grid-column: 10 / span 3; grid-row: 4;}
}
   /* Tablets såsom Ipad*/
    
    @media screen and (max-width:960px) {

        #container {
        
            background-color: rgba(26, 61, 177, 0.822);    
                     
    }
           .item-1 {grid-column:  1 / 13; grid-row: 1;}
           .item-2 { grid-column: 1 / 5; grid-row: 2;}
           .item-3 { grid-column: 5 / span 4; grid-row: 2;}
           .item-4 { grid-column: 9 / span 4; grid-row: 2;}
           .item-5 { grid-column: 1 / 7; grid-row: 3;}
           .item-6 { grid-column: 7 / span 6; grid-row: 3;}
           .item-7 { grid-column: 1 / 7; grid-row: 4;}
           .item-8 { grid-column: 7 / span 6; grid-row: 4;}
           .item-9 { grid-column: 1 / 7; grid-row: 5;}
           .item-10 { grid-column:7 / span 6; grid-row: 5;}
    }
       
    /* Mobiltelefoner:*/
    
    @media screen and (max-width: 767px) {

        #container {
        
            background-color: rgba(29, 218, 60, 0.5); 
       
    }   
           .item-1 { grid-column: 1 / 13; grid-row: 1;}
           .item-2 {grid-column:  1 / 13; grid-row: 2;}
           .item-3 { grid-column: 1 / 13; grid-row: 3;}
           .item-4 { grid-column: 1 / 13; grid-row: 4;}
           .item-5 { grid-column: 1 / 13; grid-row: 5;}
           .item-6 { grid-column: 1 / 13; grid-row: 6;}
           .item-7 { grid-column: 1 / 13; grid-row: 7;}
           .item-8 { grid-column: 1 / 13; grid-row: 8;}
           .item-9 { grid-column: 1 / 13; grid-row: 9;}
           .item-10 { grid-column:1 / 13; grid-row: 10;}
    }
  
        
        
      
    


    

    


    